$light-green: #C5D791;
$normal-green: #547932;
$dark-green: #2F4B14;
$purple: #5234A5;
$blue: #353A74;
$yellow: #FDD41D;
$background-color:#fbfcf5;

$roboto:'Roboto', sans-serif;;
$barlow:'Barlow Condensed', sans-serif;

$normal-font: 0.8rem;
$h1: 2.2rem;
$normal-font-word-spacing: 3px;
$normal-font-line-height:150%;

*{
    padding:0;
    margin:0;
    overflow-x: hidden;
    letter-spacing: 1px;
    font-family: $roboto;
}
body{
    background-color: $background-color;
}
p{
    font-size: $normal-font;
    font-family: $roboto;
    line-height: 1rem;
}
h1{
    font-family: $barlow;
    color: #ffff;
    font-size: 2.2rem;
    letter-spacing: 1.5px;
}
h2{
    font-family: $roboto;
    font-size: 1.8rem;
    color: $blue;
}
h3{
    font-family: $roboto;
    font-size: 1.3rem;
    color: $normal-green;
}
h4{
    font-family: $roboto;
    color: $normal-green;
}


#header-mobile{
    width: 100%;
    position: fixed;
    background-color: $background-color;
    z-index: 1;
    #top{
        width: 100%;
        height: 4rem;
        background-color: $background-color;
        display: flex;
        flex-direction: row;
        align-items: center;
        #after{
            display: none;
        }
        i{
            position: absolute;
            right: 2rem;
            font-size: 1.5rem;
            color: $dark-green;
        }
        i:hover{
            cursor: pointer;
        }
        img{
            height: 2.5rem;
        }
    }
    #container{
        display: none;
        #bottom{
            font-size: 1rem;
            display: flex;
            flex-direction: column;
            //background-color: green;
            padding: 2rem;
            a{
                text-decoration: none;
                color: $dark-green;
                padding: 0 0 2rem 0;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
}
#header-laptop{
    width: 100%;
    position: fixed;
    background-color: $background-color;
    z-index: 1;
    height: 6rem !important;
    display: flex;
    #top{
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    img{
        height: 4.5rem;
    }
    #nav{
        position: absolute;
        right: 2rem;
        a{
            text-decoration: none;
            color: $dark-green;
            padding-left: 1rem;
        }
    }
    display: none;
}
#first{
    background-color: $dark-green;
    color: #ffff;
    padding-top: 4rem;
    #text{
        padding: 2rem;
        display: flex;
        flex-direction: column;    
        justify-content: center;
        align-items: center;
        text-align: center;
        h1{
            padding: 2rem 0;
        }
        hr{
            border-bottom: 4px solid $yellow;
            width: 10rem;
        }
        h3{
            color: #ffff;
            padding-top: 2rem;
        }
        p{
            padding: 1rem 0;
            width: 70%;
        }
        ul{
            padding: 2rem 0;
        }
        button{
            width: 5rem;
            background-color: transparent;
            border: 1.5px solid #ffff;
            color: #ffff;
            height: 3rem;
            border-radius: 25px;
            margin-top: 0.5rem;
            transition-duration: 0.4s;
        }
        button:hover{
            cursor: pointer;
            background-color: #C5D791;
            color: $dark-green;
            border: none;
        }
        .button1{
            background-color: $light-green;
            color: $dark-green;
            border: none;
        }
        .button1:hover{
            background-color: $normal-green;
            color: #ffff;
            border: 1.5px solid #ffff;
        }
    }
}
#navbar{
    font-size: $normal-font;
    font-family: $roboto;
    line-height: 1rem;
    padding: 1rem 0;
    display: flex;
    a{
        text-decoration: none;
        color: $normal-green;
        padding: 0 1rem;
        border-right: 1px solid $dark-green;
    }
    li{
        color: $dark-green;
        padding: 0 1rem;
    }
}


#second{
    padding: 0 6rem;
    display: flex;
        #member{
            padding: 2rem 0;
            width: 35rem;
            .frame{
                img{
                    width: 100%;
                    height: 100%;
                }
                overflow-y: hidden;
            }
            #dan, #aileen{
                padding: 2rem 0;
            }
            #text1{
                padding: 2rem;
                background-color: $yellow;
                color: $purple;
                h3{
                    color: $normal-green;
                    font-size: 2.5rem;
                }
            }
            #text2{
                h3{
                    color: $light-green;
                    font-size: 2.5rem;
                }
                background-color: $dark-green;
                padding: 2rem;
                color: #ffff;
            }
        }
}

#third{
    padding: 5rem 2rem;
    ul{
        padding: 2rem 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        li{
            padding: 2rem;
            width: 15rem;
            border-top: 1px solid $dark-green;
            //border-left: 1px solid $dark-green;

            border-left: 1px solid $dark-green;
            border-image: linear-gradient(to bottom, $dark-green 70%, rgba(0,0,0,0) 30%); /* to top - at 50% transparent */
            border-image-slice: 1;
        }
    }
}
#fourth{
    padding: 4rem 2rem;
    background-color: $yellow;

    h3{
        padding-top: 2rem;
        //color: #ffff;
    }
    input{
        width: 95%;
        height: 1.5rem;
        font-size: 1.2rem;
        font-family: $roboto;
        line-height: 1rem;
        color: $dark-green;
        padding: 0.5rem;
        border-color: 5px solid $normal-green;
    }
    #send{
        width: 100%;
        background-color: transparent;
        border: 1.5px solid $purple;
        color: $purple;
        height: 3rem;
        border-radius: 25px;
        //align-items: center;
    }
}


//MAIN
#footer{
    background-color: #F1F4E8;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    #text{
        color: $normal-green;
        font-size: $normal-font;
        font-family: $roboto;
        line-height: 1rem;
        li{
            padding-top: 1rem;
        }
    }
    #contact{
        h2{
            font-family: $roboto;
            color: $normal-green !important;
            padding: 3rem 0 2rem 0;
            text-decoration: underline;
        }
        #media{
            a{
                color: $light-green;
                font-size: 3rem;
                padding-right: 1rem;
            }
            a:hover{
                color: $normal-green;
            }
        }
    }
}


@media only screen and (min-width: 300px){
    $normal-font: 1rem;
    p{
        font-size: $normal-font ;
    }
    h1{
        font-size: 3rem !important;
    }
}

@media only screen and (min-width: 600px) {
    $h1: 3rem;
    $h3: 2rem;
    $normal-font: 1.1rem;
    $normal-font-word-spacing: 2px;
    $normal-font-line-height:110%;

    h1{
        font-size: $h1 !important;
    }
    h3{
        font-size: $h3 !important;
    }
    p{
        font-size: $normal-font;
        letter-spacing: $normal-font-word-spacing;
        line-height: $normal-font-line-height;
    }

    #second{
        display: flex;
        flex-direction: column;
        align-items: center;
        #member{
            width: 50rem;
        }
        #dan, #aileen{
            height: auto;
            display: flex;
        }
        #aileen{
            flex-direction: row-reverse;
        }
        .frame{
            flex: 50% !important;
            width: 50% !important;
            //height: 100% !important;
        }
        #text1, #text2{
            flex: 50% !important;
            width: 50% !important;
            height: auto !important;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            h3{
                font-size: 3rem !important;
            }
        }
    }
    #third{
        display: flex;
        flex-direction: column;
        align-items: center;
        ul{
            width: 40rem;
        }
        h3{
            font-size: 1.3rem!important;
        }
        p{
            font-size: 0.8rem !important;
        }
    }
    #fourth{
        display: flex;
        flex-direction: column;
        align-items: center;
        h3{
            font-size: 1.3rem !important;
        }
        #cover{
            width: 35rem;
        }
    }
}

@media only screen and (min-width: 850px) {
    $h1: 4rem;
    $h3: 2rem;
    $normal-font: 1.2rem;

    h3{
        font-size: $h3 !important;
    }

    p{
        font-size: $normal-font;
        word-spacing: $normal-font-word-spacing;
        line-height: $normal-font-line-height;
    }

    #header-mobile{
        #top{
            height: 6rem;
            img{
                height: 4.5rem;
            }
            i{
                font-size: 2.7rem;
            }
        }
        
    }
    #header-laptop{
        width: 100%;
        position: fixed;
        background-color: $background-color;
        z-index: 1;
        height: 6rem !important;
        display: flex;
        #top{
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        img{
            height: 4.5rem;
        }
        #nav{
            position: absolute;
            right: 2rem;
            a{
                text-decoration: none;
                color: $dark-green;
                padding-left: 1rem;
            }
        }
        display: none;
    }
    #fourth{
        padding: 7rem 0;
    }

}

@media only screen and (min-width: 1100px){
    $h1: 4rem;

    #header-mobile{
        display:none;
    }
    #header-laptop{
        display: block;
    }
}

@media only screen and (min-width: 1300px){
    #third{
        align-items: flex-start;
        ul{
            width: 100%;
        }
    }
}
@media only screen and (max-width: 500px){
    #footer{
        flex-direction: column !important;
    }
}
#form{
    padding: 2rem 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    #cover{
        width: 90%;
    }
    label{
        font-family: $barlow;
        color: $normal-green;
        font-size: 1.5rem;
        letter-spacing: 1.5px;
    }
    input{
        width: 99%;
        height: 2rem;
        font-size: 1.2rem;
        font-family: $roboto;
        line-height: 1rem;
        color: $dark-green;
        //padding: 0.5rem;
        border-color: 5px solid $normal-green;
    }
    textarea{
        width: 95%;
        font-size: 1.2rem;
        font-family: $roboto;
        line-height: 1rem;
        color: $dark-green;
        padding: 0.5rem;
    }
    #send{
        width: 99%;
        background-color: transparent;
        border: 1.5px solid $normal-green;
        color: $normal-green;
        height: 3rem;
        border-radius: 25px;
        transition-duration: 0.4s;
    }
    #send:hover{
        cursor: pointer;
        background-color: $normal-green;
        color: $light-green;
        border: none;
    }
}
#text{
    font-family: $barlow;
    color: $normal-green;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}
@media only screen and (min-width: 850px) {
    $h1: 4rem;
    $h3: 2rem;
    $normal-font: 1.2rem;
    #fourth{
        align-items: flex-start;
        padding-left: 10%;
    }
}



