$light-green: #B6C186;
$normal-green: #547932;
$dark-green: #2F4B14;
$purple: #31387A;
$yellow: #EBA920;
$light-purple: #AE8BDD;
$background-color:#fbfcf5;
$light-blue: #D2E0E0;
$black: #3B3B3B;

$roboto:'Roboto', sans-serif;;
$barlow:'Barlow Condensed', sans-serif;

$normal-font: 0.8rem;
$h1: 2.2rem;
$normal-font-word-spacing: 3px;
$normal-font-line-height:150%;

*{
    padding:0;
    margin:0;
    overflow-x: hidden;
    letter-spacing: 1px;
    font-family: $roboto;
}
body{
    background-color: $background-color;
}
p{
    font-size: $normal-font;
    font-family: $roboto;
    line-height: 1.5rem;
}
h1{
    font-family: $barlow;
    color: #ffff;
    font-size: 2.2rem;
    letter-spacing: 1.5px;
}
h2{
    font-family: $roboto;
    font-size: 1.8rem;
    //color: $blue;
}
h3{
    font-family: $roboto;
    font-size: 1.3rem;
    color: $normal-green;
}
h4{
    font-family: $roboto;
    color: $normal-green;
}


#header-mobile{
    width: 100%;
    position: fixed;
    background-color: $background-color;
    z-index: 1;
    #top{
        width: 100%;
        height: 4rem;
        background-color: $background-color;
        display: flex;
        flex-direction: row;
        align-items: center;
        #after{
            display: none;
        }
        i{
            position: absolute;
            right: 2rem;
            font-size: 1.5rem;
            color: $dark-green;
        }
        i:hover{
            cursor: pointer;
        }
        img{
            height: 2.5rem;
        }
    }
    #container{
        display: none;
        #bottom{
            font-size: 1rem;
            display: flex;
            flex-direction: column;
            //background-color: green;
            padding: 2rem;
            a{
                text-decoration: none;
                color: $dark-green;
                padding: 0 0 2rem 0;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
}
#header-laptop{
    width: 100%;
    position: fixed;
    background-color: $background-color;
    z-index: 1;
    height: 6rem !important;
    display: flex;
    #top{
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    img{
        height: 4.5rem;
    }
    #nav{
        position: absolute;
        right: 2rem;
        a{
            text-decoration: none;
            color: $dark-green;
            padding-left: 1rem;
        }
    }
    display: none;
}

#first{
    color: $dark-green;
    padding-top: 4rem;
    overflow-y: hidden;
    #text{
        padding: 2rem 4rem;
        display: flex;
        flex-direction: column;    
        justify-content: center;
        align-items: center;
        text-align: center;
        h1{
            padding: 2rem 0;
            color: $dark-green;
        }
        hr{
            width: 5rem;
        }
        p{
            padding: 2rem 0;
        }
        #button{
            background-color: #2F4B14;
            color: #ffff;
            padding: 0.75rem 1.5rem;
            border-radius: 25px;
            transition-duration: 0.4s;
        }
        #button:hover{
            background-color: $light-green;
            color: $dark-green;
        }
    }
}
#picture{
    width: 100vw;
    img{
        width: 100%;
    }
    #tree{
        margin-top: -30%;
    }

}
#second{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        #top{
            padding: 5rem 0rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            #border{
                width: 2rem;
                height: 3px;
                background-color: $dark-green;
            }
        
            p{
                color: $dark-green;
                padding-top: 1rem;
            }
            h3{
                padding-bottom: 1rem;
                color: $normal-green !important;
            }
        }
        #bottom{
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-top: 2rem;
            .list{
                position: relative;
                padding-bottom: 5rem;
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 10rem;
                    opacity: 0.5;
                }
                h1{
                    opacity: 0.9;
                    color: $black;
                    font-size: 120px !important;
                    position: relative ;
                    z-index: 1.1;
                    padding-bottom: 1rem;
                }
                h3{
                    border-top: 5px solid $black;
                    width: 100%;
                    padding-top: 1rem;
                }
                #text{
                    p{
                        color: $black;
                        padding: 1rem 0;
                        border-bottom: 1px solid $dark-green;
                    }
                }
            }
        }
}
#fourth{
    padding: 4rem 2rem;
    background-color: $yellow;

    h2{
        color: $background-color;
    }
    h3{
        padding-top: 2rem;
        color: $background-color;
    }
    input{
        width: 95%;
        height: 1.5rem;
        font-size: 1.2rem;
        font-family: $roboto;
        line-height: 1rem;
        color: $dark-green;
        padding: 0.5rem;
        border-color: 5px solid $normal-green;
    }
    #send{
        width: 100%;
        background-color: transparent;
        border: 1.5px solid $purple;
        color: $purple;
        height: 3rem;
        border-radius: 25px;
        transition-duration: 0.4s;
        //align-items: center;
    }
    #send:hover{
        cursor: pointer;
        background-color: $light-purple;
        color: $purple;
        border: none;
    }
}
#form{
    //padding: 2rem 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .cover{
        width: 100%;
        label{
            font-family: $barlow;
            color: $normal-green;
            font-size: 1.5rem;
            letter-spacing: 1.5px;
        }
        input{
            width: 99%;
            height: 2rem;
            font-size: 1.2rem;
            font-family: $roboto;
            line-height: 1rem;
            color: $dark-green;
            //padding: 0.5rem;
            border-color: 5px solid $normal-green;
        }
    }
    label{
        font-family: $barlow;
            color: $normal-green;
            font-size: 1.5rem;
            letter-spacing: 1.5px;
    }
    #cover2{

        input{
            width: 20%;
            transform: scale(2);
            color: $dark-green;
            border-color: 5px solid $normal-green;
        }
    }
    textarea{
        width: 95%;
        font-size: 1.2rem;
        font-family: $roboto;
        line-height: 1rem;
        color: $dark-green;
        padding: 0.5rem;
    }
    #send{
        width: 99%;
        background-color: transparent;
        border: 1.5px solid $normal-green;
        color: $normal-green;
        height: 3rem;
        border-radius: 25px;
        transition-duration: 0.4s;
    }
    #send:hover{
        cursor: pointer;
        background-color: $normal-green;
        color: $light-green;
        border: none;
    }
    #bottom{
        label{
            padding-top: 5rem !important
        }
    }

}
#thank{
    #cover{
        position:fixed;
        height: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        background-color: $light-green;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    p{
        width: 80%;
        text-align: center;
    }
    #off{
        font-size: 2rem;
        position: absolute;
        top: 1rem;
        right: -12.5rem;
    }
    #off:hover{
        color: $background-color;
        cursor: pointer;
    }
    display: none;
}

//MAIN
#footer{
    background-color: #F1F4E8;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    #text{
        color: $normal-green;
        font-size: $normal-font;
        font-family: $roboto;
        line-height: 1rem;
        li{
            padding-top: 1rem;
        }
    }
    #contact{
        h2{
            font-family: $roboto;
            color: $normal-green !important;
            padding: 3rem 0 2rem 0;
            text-decoration: underline;
        }
        #media{
            a{
                color: $light-green;
                font-size: 3rem;
                padding-right: 1rem;
            }
            a:hover{
                color: $normal-green;
            }
        }
    }
}


@media only screen and (min-width: 300px){
    $normal-font: 1rem;
    p{
        font-size: $normal-font ;
    }
    h1{
        font-size: 3rem !important;
    }
}

@media only screen and (min-width: 600px) {
    $h1: 3rem;
    $h3: 2rem;
    $normal-font: 1.1rem;
    $normal-font-word-spacing: 1.8px;
    $normal-font-line-height:1.5;
    h1{
        font-size: $h1 !important;
    }
    h3{
        font-size: $h3 !important;
    }
    p{
        font-size: $normal-font;
        letter-spacing: $normal-font-word-spacing;
        line-height: $normal-font-line-height;
    }

    #first{
        display: flex;
        flex-direction: column;
        align-items: center;
        #text{
            width: 40rem;
        }
    }
    #second{
        #top{
            p{
                width: 30rem;
            }
        }
    }

    #fourth{
        display: flex;
        flex-direction: column;
        align-items: center;
        h3{
            font-size: 1.3rem !important;
        }
        #cover{
            width: 35rem;
        }
    }
    #form{
        #cover{
            width: 35rem !important;
        }
    }
}

@media only screen and (min-width: 850px) {
    $h1: 4rem;
    $h3: 2rem;
    $normal-font: 1.2rem;

    h3{
        font-size: $h3 !important;
    }

    p{
        font-size: $normal-font;
        word-spacing: $normal-font-word-spacing;
        line-height: $normal-font-line-height;
    }

    #header-mobile{
        #top{
            height: 6rem;
            img{
                height: 4.5rem;
            }
            i{
                font-size: 2.7rem;
            }
        }
        
    }
    #header-laptop{
        width: 100%;
        position: fixed;
        background-color: $background-color;
        z-index: 1;
        height: 6rem !important;
        display: flex;
        #top{
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        img{
            height: 4.5rem;
        }
        #nav{
            position: absolute;
            right: 2rem;
            a{
                text-decoration: none;
                color: $dark-green;
                padding-left: 1rem;
            }
        }
        display: none;
    }
    #first{
        position: absolute !important;
        width: 30%;
        right: 5%;
        #text{
            width: 100%;
            text-align: left;
            justify-content: start;
            align-items: flex-start;
        }
    }
    #picture{
        padding-top: 15rem;
    }
    #second{
        h1{
            font-size: 70px !important;
        }
        p{
            font-size: 1rem !important;
            line-height: 1.3rem;
        }
        h3{
            font-size: 1.3rem !important;
        }
        #top{
            h3{
                font-size: 2rem !important;
            } 
            margin-right: -30%;
        }
        #bottom{
            flex-direction: row;
            justify-content: space-between !important;
            .list{
                width: 12rem !important;
            }
        }
    }
    #fourth{
        padding: 7rem 0;
    }
    #form{
        align-items: flex-start;
        padding-left: 10%;
    }
}

@media only screen and (min-width: 1100px){
    $h1: 4rem;

    #header-mobile{
        display:none;
    }
    #header-laptop{
        display: block;
    }
    #first{
        justify-content: center;
        padding-top: 7rem;

    }
    #second{
        #bottom{
            h3{
                font-size: 1.5rem !important;
            }
            .list{
                width: 15rem !important;
            }
        }
    }
}

@media only screen and (min-width: 1300px){
    #second{
        #bottom{
            width: 90% !important; 
        }
    }
} 
@media only screen and (max-width: 500px){
    #footer{
        flex-direction: column !important;
    }
}
/*FORM*/


#text{
    font-family: $barlow;
    color: $normal-green;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}
#amount{
    color: white;
    text-decoration: none;
}





