* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fbfcf5;
}

p {
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  line-height: 1rem;
}

h1 {
  font-family: "Barlow Condensed", sans-serif;
  color: #ffff;
  font-size: 2.2rem;
  letter-spacing: 1.5px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  color: #353A74;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  color: #547932;
}

h4 {
  font-family: "Roboto", sans-serif;
  color: #547932;
}

#header-mobile {
  width: 100%;
  position: fixed;
  background-color: #fbfcf5;
  z-index: 1;
}

#header-mobile #top {
  width: 100%;
  height: 4rem;
  background-color: #fbfcf5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-mobile #top #after {
  display: none;
}

#header-mobile #top i {
  position: absolute;
  right: 2rem;
  font-size: 1.5rem;
  color: #2F4B14;
}

#header-mobile #top i:hover {
  cursor: pointer;
}

#header-mobile #top img {
  height: 2.5rem;
}

#header-mobile #container {
  display: none;
}

#header-mobile #container #bottom {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

#header-mobile #container #bottom a {
  text-decoration: none;
  color: #2F4B14;
  padding: 0 0 2rem 0;
}

#header-mobile #container #bottom a:hover {
  text-decoration: underline;
}

#header-laptop {
  width: 100%;
  position: fixed;
  background-color: #fbfcf5;
  z-index: 1;
  height: 6rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

#header-laptop #top {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-laptop img {
  height: 4.5rem;
}

#header-laptop #nav {
  position: absolute;
  right: 2rem;
}

#header-laptop #nav a {
  text-decoration: none;
  color: #2F4B14;
  padding-left: 1rem;
}

#first {
  background-color: #2F4B14;
  color: #ffff;
  padding-top: 4rem;
}

#first #text {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#first #text h1 {
  padding: 2rem 0;
}

#first #text hr {
  border-bottom: 4px solid #FDD41D;
  width: 10rem;
}

#first #text h3 {
  color: #ffff;
  padding-top: 2rem;
}

#first #text p {
  padding: 1rem 0;
  width: 70%;
}

#first #text ul {
  padding: 2rem 0;
}

#first #text button {
  width: 5rem;
  background-color: transparent;
  border: 1.5px solid #ffff;
  color: #ffff;
  height: 3rem;
  border-radius: 25px;
  margin-top: 0.5rem;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#first #text button:hover {
  cursor: pointer;
  background-color: #C5D791;
  color: #2F4B14;
  border: none;
}

#first #text .button1 {
  background-color: #C5D791;
  color: #2F4B14;
  border: none;
}

#first #text .button1:hover {
  background-color: #547932;
  color: #ffff;
  border: 1.5px solid #ffff;
}

#navbar {
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  line-height: 1rem;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navbar a {
  text-decoration: none;
  color: #547932;
  padding: 0 1rem;
  border-right: 1px solid #2F4B14;
}

#navbar li {
  color: #2F4B14;
  padding: 0 1rem;
}

#second {
  padding: 0 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#second #member {
  padding: 2rem 0;
  width: 35rem;
}

#second #member .frame {
  overflow-y: hidden;
}

#second #member .frame img {
  width: 100%;
  height: 100%;
}

#second #member #dan, #second #member #aileen {
  padding: 2rem 0;
}

#second #member #text1 {
  padding: 2rem;
  background-color: #FDD41D;
  color: #5234A5;
}

#second #member #text1 h3 {
  color: #547932;
  font-size: 2.5rem;
}

#second #member #text2 {
  background-color: #2F4B14;
  padding: 2rem;
  color: #ffff;
}

#second #member #text2 h3 {
  color: #C5D791;
  font-size: 2.5rem;
}

#third {
  padding: 5rem 2rem;
}

#third ul {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#third ul li {
  padding: 2rem;
  width: 15rem;
  border-top: 1px solid #2F4B14;
  border-left: 1px solid #2F4B14;
  -o-border-image: linear-gradient(to bottom, #2F4B14 70%, rgba(0, 0, 0, 0) 30%);
     border-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #2F4B14), color-stop(30%, rgba(0, 0, 0, 0)));
     border-image: linear-gradient(to bottom, #2F4B14 70%, rgba(0, 0, 0, 0) 30%);
  /* to top - at 50% transparent */
  border-image-slice: 1;
}

#fourth {
  padding: 4rem 2rem;
  background-color: #FDD41D;
}

#fourth h3 {
  padding-top: 2rem;
}

#fourth input {
  width: 95%;
  height: 1.5rem;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  line-height: 1rem;
  color: #2F4B14;
  padding: 0.5rem;
  border-color: 5px solid #547932;
}

#fourth #send {
  width: 100%;
  background-color: transparent;
  border: 1.5px solid #5234A5;
  color: #5234A5;
  height: 3rem;
  border-radius: 25px;
}

#footer {
  background-color: #F1F4E8;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#footer #text {
  color: #547932;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  line-height: 1rem;
}

#footer #text li {
  padding-top: 1rem;
}

#footer #contact h2 {
  font-family: "Roboto", sans-serif;
  color: #547932 !important;
  padding: 3rem 0 2rem 0;
  text-decoration: underline;
}

#footer #contact #media a {
  color: #C5D791;
  font-size: 3rem;
  padding-right: 1rem;
}

#footer #contact #media a:hover {
  color: #547932;
}

@media only screen and (min-width: 300px) {
  p {
    font-size: 1rem;
  }
  h1 {
    font-size: 3rem !important;
  }
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 3rem !important;
  }
  h3 {
    font-size: 2rem !important;
  }
  p {
    font-size: 1.1rem;
    letter-spacing: 2px;
    line-height: 110%;
  }
  #second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #second #member {
    width: 50rem;
  }
  #second #dan, #second #aileen {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #second #aileen {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #second .frame {
    -webkit-box-flex: 50% !important;
        -ms-flex: 50% !important;
            flex: 50% !important;
    width: 50% !important;
  }
  #second #text1, #second #text2 {
    -webkit-box-flex: 50% !important;
        -ms-flex: 50% !important;
            flex: 50% !important;
    width: 50% !important;
    height: auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  #second #text1 h3, #second #text2 h3 {
    font-size: 3rem !important;
  }
  #third {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #third ul {
    width: 40rem;
  }
  #third h3 {
    font-size: 1.3rem !important;
  }
  #third p {
    font-size: 0.8rem !important;
  }
  #fourth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #fourth h3 {
    font-size: 1.3rem !important;
  }
  #fourth #cover {
    width: 35rem;
  }
}

@media only screen and (min-width: 850px) {
  h3 {
    font-size: 2rem !important;
  }
  p {
    font-size: 1.2rem;
    word-spacing: 3px;
    line-height: 150%;
  }
  #header-mobile #top {
    height: 6rem;
  }
  #header-mobile #top img {
    height: 4.5rem;
  }
  #header-mobile #top i {
    font-size: 2.7rem;
  }
  #header-laptop {
    width: 100%;
    position: fixed;
    background-color: #fbfcf5;
    z-index: 1;
    height: 6rem !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: none;
  }
  #header-laptop #top {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #header-laptop img {
    height: 4.5rem;
  }
  #header-laptop #nav {
    position: absolute;
    right: 2rem;
  }
  #header-laptop #nav a {
    text-decoration: none;
    color: #2F4B14;
    padding-left: 1rem;
  }
  #fourth {
    padding: 7rem 0;
  }
}

@media only screen and (min-width: 1100px) {
  #header-mobile {
    display: none;
  }
  #header-laptop {
    display: block;
  }
}

@media only screen and (min-width: 1300px) {
  #third {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #third ul {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  #footer {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

#form {
  padding: 2rem 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#form #cover {
  width: 90%;
}

#form label {
  font-family: "Barlow Condensed", sans-serif;
  color: #547932;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}

#form input {
  width: 99%;
  height: 2rem;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  line-height: 1rem;
  color: #2F4B14;
  border-color: 5px solid #547932;
}

#form textarea {
  width: 95%;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  line-height: 1rem;
  color: #2F4B14;
  padding: 0.5rem;
}

#form #send {
  width: 99%;
  background-color: transparent;
  border: 1.5px solid #547932;
  color: #547932;
  height: 3rem;
  border-radius: 25px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#form #send:hover {
  cursor: pointer;
  background-color: #547932;
  color: #C5D791;
  border: none;
}

#text {
  font-family: "Barlow Condensed", sans-serif;
  color: #547932;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}
/*# sourceMappingURL=style.css.map */