$light-green: #C5D791;
$normal-green: #547932;
$dark-green: #2F4B14;
$purple: #5234A5;
$yellow: #FDD41D;
$background-color:#fbfcf5;

$roboto:'Roboto', sans-serif;;
$barlow:'Barlow Condensed', sans-serif;

$normal-font: 0.8rem;

*{
    padding:0;
    margin:0;
    overflow-x: hidden;
    letter-spacing: 1px;
    font-family: $roboto;
}
body{
    background-color: $background-color;
}
p{
    font-size: $normal-font;
    font-family: $roboto;
    line-height: 1rem;
}
h3{
    font-family: $barlow;
    font-size: 1.3rem;
    color: $normal-green;
}

//MAIN
#header-mobile{
    width: 100%;
    position: fixed;
    background-color: $background-color;
    z-index: 1;
    #top{
        width: 100%;
        height: 4rem;
        background-color: $background-color;
        display: flex;
        flex-direction: row;
        align-items: center;
        #after{
            display: none;
        }
        i{
            position: absolute;
            right: 2rem;
            font-size: 1.5rem;
            color: $dark-green;
        }
        i:hover{
            cursor: pointer;
        }
        img{
            height: 2.5rem;
        }
    }
    #container{
        display: none;
        #bottom{
            font-size: 1rem;
            display: flex;
            flex-direction: column;
            //background-color: green;
            padding: 2rem;
            a{
                text-decoration: none;
                color: $dark-green;
                padding: 0 0 2rem 0;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
}


#main{
    padding-top: 4rem;
    #first{
        //height: 30rem;
        width: 100%;
        position:relative;
        padding: 0 2rem;
        h1{
            padding-top: 2rem;
            width: 80%;
            font-family: $barlow;
            color: $normal-green;
            font-size: 2.2rem;
            letter-spacing: 1.5px;
        }
        p{

            padding-top: 1rem;
            color: $dark-green;
            width: 80%;
        }
        img{
            position: relative;
            width: 65vw;
            padding-top: 2rem;
            left: 10rem;
        }
    }
    #second{
        background-color: $purple;
        color: #ffff;
        padding: 2rem 2rem 5rem 2rem;
        align-items: center;
        h3{
            color: #ffff;
        }
        img{
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
            width:85vw;
        }
        #text{
            padding-top: 5rem;
            p{
                padding: 1rem 0;
            }
        }
        button{
            width: 100%;
            background-color: transparent;
            border: 1.5px solid #ffff;
            color: #ffff;
            height: 3rem;
            border-radius: 25px;
            //align-items: center;
        }
    }
    #third{
        color: $dark-green;
        padding: 2rem 2rem 5rem 2rem;
        position: relative;
        #text{
            padding-top: 5rem;
            p{
                padding: 1rem 0;
            }
        }
        h1{
            width: 12rem;
            padding-top: 2rem;
            font-family: $barlow;
            color: $normal-green;
            font-size: 2.2rem;
            letter-spacing: 1.5px;
            position: relative;
            margin-left: 50%;
            transform: translate(-50%);
        }
        //BACKGROUND PATTERN FROM MAGICPATTERN
        #cover{
            width: 100vw;
            //background-color: #2F4B14;
            position: absolute;
            right: 0%;
            bottom: 0rem;
            z-index: 5;
        }
        #pattern{
            //original
            height: 60rem;
            background-color: #FBFCF5;
            opacity: 0.1;
            background-image:  linear-gradient(#C5D791 4px, transparent 4px), linear-gradient(to right, #C5D791 4px, #FBFCF5 4px);
            background-size: 80px 80px;
            //original

        }
        #mission{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                height: 40vw;
            }
            li{
                padding-top: 3rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
    #fourth{
        padding: 0 2rem;
        #member{
            padding: 2rem 0;
            //background-color: #FDD41D;
            .frame{
                img{
                    width: 100%;
                }
            }
            #dan, #aileen{
                padding: 2rem 0;
            }
            #text1{
                padding: 2rem;
                background-color: $yellow;
                color: $dark-green;
            }
            #text2{
                h3{
                    color: $light-green;
                }
                background-color: $dark-green;
                padding: 2rem;
                color: #ffff;
            }
        }
    }
}

//MAIN
#footer{
    background-color: #F1F4E8;
    padding: 2rem;
    #text{
        color: $normal-green;
        font-size: $normal-font;
        font-family: $roboto;
        line-height: 1rem;
        li{
            padding-top: 1rem;
        }
    }
    #contact{
        font-family: $roboto;
        color: $normal-green !important;
        padding: 2rem 0;
        text-decoration: underline;
    }
}
