* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fbfcf5;
}

p {
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  line-height: 1rem;
}

h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.3rem;
  color: #547932;
}

#header-mobile {
  width: 100%;
  position: fixed;
  background-color: #fbfcf5;
  z-index: 1;
}

#header-mobile #top {
  width: 100%;
  height: 4rem;
  background-color: #fbfcf5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-mobile #top #after {
  display: none;
}

#header-mobile #top i {
  position: absolute;
  right: 2rem;
  font-size: 1.5rem;
  color: #2F4B14;
}

#header-mobile #top i:hover {
  cursor: pointer;
}

#header-mobile #top img {
  height: 2.5rem;
}

#header-mobile #container {
  display: none;
}

#header-mobile #container #bottom {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

#header-mobile #container #bottom a {
  text-decoration: none;
  color: #2F4B14;
  padding: 0 0 2rem 0;
}

#header-mobile #container #bottom a:hover {
  text-decoration: underline;
}

#header-laptop {
  width: 100%;
  position: fixed;
  background-color: #fbfcf5;
  z-index: 1;
  height: 6rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

#header-laptop #top {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-laptop img {
  height: 4.5rem;
}

#header-laptop #nav {
  position: absolute;
  right: 2rem;
}

#header-laptop #nav a {
  text-decoration: none;
  color: #2F4B14;
  padding-left: 1rem;
}

#main {
  padding-top: 4rem;
}

#main #first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  /* for the pen */
  /* waves */
}

#main #first h1 {
  padding-top: 2rem;
  font-family: "Barlow Condensed", sans-serif;
  color: #547932;
  font-size: 2.2rem;
  letter-spacing: 1.5px;
}

#main #first p {
  padding-top: 1rem;
  color: #2F4B14;
}

#main #first img {
  height: 65vw;
  margin-left: 40vw;
  padding: 2rem 0;
}

#main #first html, #main #first body {
  margin: 0;
  min-height: 100%;
  background-color: #fbfcf5;
}

#main #first .ocean1, #main #first .ocean2 {
  height: 80px;
  /* change the height of the waves here */
  width: 100%;
  position: absolute;
  overflow-x: hidden;
  bottom: 7rem;
}

#main #first .ocean2 {
  bottom: 2rem;
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

#main #first .wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23C5D791'/%3E%3C/svg%3E");
  position: absolute;
  width: 200%;
  height: 100%;
  -webkit-animation: wave 10s -3s linear infinite;
          animation: wave 10s -3s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 0.4;
}

#main #first .wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 18s linear reverse infinite;
  opacity: 0.3;
}

#main #first .wave:nth-of-type(3) {
  bottom: 0;
  -webkit-animation: wave 20s -1s linear infinite;
          animation: wave 20s -1s linear infinite;
  opacity: 0.3;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

#main #second {
  background-color: #31387A;
  color: #ffff;
  padding: 2rem 2rem 5rem 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #second h3 {
  color: #ffff;
}

#main #second #text {
  padding-top: 2rem;
}

#main #second #text p {
  padding: 1rem 0;
}

#main #second button {
  width: 100%;
  background-color: transparent;
  border: 1.5px solid #ffff;
  color: #ffff;
  height: 3rem;
  border-radius: 25px;
}

#main #second #outsider {
  position: relative;
  width: 90vw;
  height: 90vw;
  overflow-y: hidden;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #second #outsider #photo {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 75%;
  border-radius: 50%;
}

#main #second #outsider #image-circle {
  width: 85%;
  height: 85%;
  border-radius: 50%;
  border-top: 2px dashed #FBB84D;
  border-right: 2px dashed #FBB84D;
  border-left: 2px dashed #FBB84D;
  border-bottom: 2px dashed #FBB84D;
  -webkit-animation: spin 10s infinite linear;
          animation: spin 10s infinite linear;
  overflow: visible;
}

#main #second #outsider #image-circle img {
  animation: spin 10s infinite reverse linear;
  width: 2rem;
  padding: 50px;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

#main #third {
  color: #2F4B14;
  padding: 2rem 2rem 5rem 2rem;
  position: relative;
}

#main #third #bg-logo {
  position: absolute;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  left: -10%;
  width: 50vw;
  display: none;
  opacity: 0.5;
}

#main #third #text {
  padding-top: 5rem;
}

#main #third #text p {
  padding: 1rem 0;
}

#main #third h1 {
  padding-top: 2rem;
  font-family: "Barlow Condensed", sans-serif;
  color: #547932;
  font-size: 2.2rem;
  letter-spacing: 1.5px;
}

#main #third #cover {
  width: 120vw;
  position: absolute;
  right: 0%;
  bottom: 0rem;
  z-index: 0.1;
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

#main #third #pattern {
  height: 120vh;
  background-color: #FBFCF5;
  opacity: 0.1;
  background-image: linear-gradient(#C5D791 4px, transparent 4px), linear-gradient(to right, #C5D791 4px, #FBFCF5 4px);
  background-size: 10vw 10vw;
}

#main #third #mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #third #mission img {
  height: 40vw;
}

#main #third #mission li {
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main #fourth {
  padding: 0 2rem;
}

#main #fourth #member {
  padding: 2rem 0;
}

#main #fourth #member .frame {
  overflow-y: hidden;
}

#main #fourth #member .frame img {
  width: 100%;
}

#main #fourth #member #dan, #main #fourth #member #aileen {
  padding: 2rem 0;
}

#main #fourth #member #text1 {
  padding: 2rem;
  background-color: #FBB84D;
  color: #31387A;
}

#main #fourth #member #text2 {
  background-color: #2F4B14;
  padding: 2rem;
  color: #ffff;
}

#main #fourth #member #text2 h3 {
  color: #C5D791;
}

#footer {
  background-color: #F1F4E8;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#footer #text {
  color: #547932;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  line-height: 1rem;
}

#footer #text li {
  padding-top: 1rem;
}

#footer #contact h2 {
  font-family: "Roboto", sans-serif;
  color: #547932 !important;
  padding: 3rem 0 2rem 0;
  text-decoration: underline;
}

#footer #contact #media a {
  color: #C5D791;
  font-size: 3rem;
  padding-right: 1rem;
}

#footer #contact #media a:hover {
  color: #547932;
}

@media only screen and (min-width: 300px) {
  p {
    font-size: 1rem;
  }
  h1 {
    font-size: 3rem !important;
  }
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 3rem !important;
  }
  h3 {
    font-size: 2rem !important;
  }
  p {
    font-size: 1.1rem;
    letter-spacing: 2px;
    line-height: 110%;
  }
  #first {
    padding: 0 15% !important;
  }
  #first img {
    height: 25rem !important;
    margin-right: -15vw;
  }
  #first #text {
    background-color: #fbfcf5;
  }
  #second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #second h3 {
    font-size: 2rem;
  }
  #second #text, #second button, #second #outsider {
    width: 30rem !important;
  }
  #second #outsider {
    height: 30rem !important;
  }
  #second #outsider #photo {
    width: 90% !important;
  }
  #second #outsider #image-circle {
    width: 95% !important;
    height: 95% !important;
  }
  #third {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #third h1 {
    font-size: 3rem;
  }
  #third #text {
    width: 30rem !important;
  }
  #third #mission img {
    height: 15rem !important;
  }
  #fourth #member {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #fourth #dan, #fourth #aileen {
    width: 30rem;
  }
}

@media only screen and (min-width: 850px) {
  h3 {
    font-size: 2rem !important;
  }
  p {
    font-size: 1.2rem;
    word-spacing: 3px;
    line-height: 150%;
  }
  #header-mobile #top {
    height: 6rem;
  }
  #header-mobile #top img {
    height: 4.5rem;
  }
  #header-mobile #top i {
    font-size: 2.7rem;
  }
  #first {
    padding: 0 0 !important;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  #first h1 {
    font-size: 4rem !important;
    padding-top: 0 !important;
  }
  #first img {
    height: 25rem !important;
    margin-right: -15vw;
    padding: 0 0 2rem 0 !important;
  }
  #first #text {
    width: 30rem;
    position: relative;
    top: 5rem;
    left: -10%;
    background-color: transparent;
  }
  #first .ocean1 {
    bottom: 0rem !important;
  }
  #first .ocean2 {
    bottom: -5rem !important;
  }
  #second {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #second #text, #second button, #second #outsider {
    width: 25rem !important;
  }
  #second #outsider {
    height: 25rem !important;
  }
  #second #outsider #photo {
    width: 90% !important;
  }
  #second #outsider #image-circle {
    width: 95% !important;
    height: 95% !important;
  }
  #third #text {
    margin-right: -20rem;
  }
  #third #bg-logo {
    display: block !important;
  }
  #third h1 {
    font-size: 4rem !important;
    position: absolute;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    left: 0rem;
    top: 60rem;
  }
  #third #mission {
    padding: 7rem 0 4rem 0rem !important;
  }
  #third #mission li {
    width: 15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  #third #mission .left {
    padding: 0 0 0 25rem;
  }
  #third #mission img {
    height: 10rem !important;
  }
  #fourth #dan, #fourth #aileen {
    height: 30rem;
    width: 50rem !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #fourth #aileen {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #fourth img {
    -webkit-box-flex: 50% !important;
        -ms-flex: 50% !important;
            flex: 50% !important;
    width: auto !important;
    height: 100% !important;
  }
  #fourth #text1, #fourth #text2 {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

@media only screen and (min-width: 1100px) {
  #header-mobile {
    display: none;
  }
  #header-laptop {
    display: block;
  }
  #first {
    padding-top: 5rem !important;
  }
  #first img {
    height: 30rem !important;
    margin-top: -25rem;
  }
  #first #text {
    width: 25rem;
    left: -20%;
  }
  #first .ocean1 {
    height: 5cm !important;
    position: relative !important;
  }
  #first .ocean2 {
    opacity: 0;
  }
  #second {
    padding: 5rem 10vw !important;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #second #outsider {
    width: 40vw !important;
    height: 40vw !important;
  }
}
/*# sourceMappingURL=style.css.map */