$light-green: #B6C186;
$normal-green: #547932;
$dark-green: #2F4B14;
$purple: #31387A;
$yellow: #EBA920;
$light-purple: #AE8BDD;
$background-color:#fbfcf5;
$light-blue: #D2E0E0;
$black: #3B3B3B;

$roboto:'Roboto', sans-serif;;
$barlow:'Barlow Condensed', sans-serif;

$normal-font: 0.8rem;
$h1: 2.2rem;
$normal-font-word-spacing: 3px;
$normal-font-line-height:1.5;

*{
    padding:0;
    margin:0;
    overflow-x: hidden;
    letter-spacing: 1px;
    font-family: $roboto;
}
body{
    background-color: $background-color;
}
p{
    font-size: $normal-font;
    font-family: $roboto;
    line-height: 1.5rem;
}
h3{
    font-family: $barlow;
    font-size: 1.3rem;
    color: $normal-green;
}

//MAIN
#header-mobile{
    width: 100%;
    position: fixed;
    background-color: $background-color;
    z-index: 5;
    #top{
        width: 100%;
        height: 4rem;
        background-color: $background-color;
        display: flex;
        flex-direction: row;
        align-items: center;
        #after{
            display: none;
        }
        i{
            position: absolute;
            right: 2rem;
            font-size: 1.5rem;
            color: $dark-green;
        }
        i:hover{
            cursor: pointer;
        }
        img{
            height: 2.5rem;
        }
    }
    #container{
        display: none;
        #bottom{
            font-size: 1rem;
            display: flex;
            flex-direction: column;
            //background-color: green;
            padding: 2rem;
            a{
                text-decoration: none;
                color: $dark-green;
                padding: 0 0 2rem 0;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
}
#header-laptop{
    width: 100%;
    position: fixed;
    background-color: $background-color;
    z-index: 5;
    height: 6rem !important;
    display: flex;
    #top{
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    img{
        height: 4.5rem;
    }
    #nav{
        position: absolute;
        right: 2rem;
        a{
            text-decoration: none;
            color: $dark-green;
            padding-left: 1rem;
        }
        a:hover{
            text-decoration: underline;
        }
    }
    display: none;
}


#main{
    padding-top: 4rem;
    #first{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 2rem;
        .underline{
            padding-top: 0 !important;
        }
        .underline:hover{
            text-decoration: underline;
            animation: underline infinite;
            animation-duration: 1s;
        }

        h1{
            padding-top: 2rem;
            font-family: $barlow;
            color: $normal-green;
            font-size: $h1;
            letter-spacing: 1.5px;
        }
        p{
            padding-top: 1rem;
            color: $dark-green;
        }
        img{
            height: 65vw;
            margin-left: 40vw;
            padding: 2rem 0;
        }

        //WAVE CSS 
        /* for the pen */
        html, body {
            margin: 0;
            min-height: 100%;
            background-color: $background-color;
        }
        
        /* waves */
        .ocean1, .ocean2 {
            height: 80px; /* change the height of the waves here */
            width: 100%;
            position: absolute;
            overflow-x: hidden;
            bottom: 7rem;
        }
        .ocean2{
            bottom: 2rem;
            transform: scale(-1);
        }
        
        .wave {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23C5D791'/%3E%3C/svg%3E");
            position: absolute;
            width: 200%;
            height: 100%;
            animation: wave 10s -3s linear infinite;
            transform: translate3d(0, 0, 0);
            opacity: 0.4;
        }
        
        .wave:nth-of-type(2) {
            bottom: 0;
            animation: wave 18s linear reverse infinite;
            opacity: 0.3;
        }
        
        .wave:nth-of-type(3) {
            bottom: 0;
            animation: wave 20s -1s linear infinite;
            opacity: 0.3;
        }
        
        @keyframes wave {
            0% {transform: translateX(0);}
            50% {transform: translateX(-25%);}
            100% {transform: translateX(-50%);}
        }
    }
    #second{
        background-color: $purple;
        color: #ffff;
        padding: 2rem 2rem 5rem 2rem;
        align-items: center;
        h3{
            color: #ffff;
        }
        #text{
            padding-top: 2rem;
            p{
                padding: 1rem 0;
            }
        }
        button{
            width: 100%;
            background-color: transparent;
            border: 1.5px solid #ffff;
            color: #ffff;
            height: 3rem;
            border-radius: 25px;
            transition-duration: 0.4s
            //align-items: center;
        }
        button:hover{
            cursor: pointer;
            background-color: $light-purple;
            color: $purple;
            border: none;
        }
        #outsider{
            position: relative;
            width: 90vw;
            height: 90vw;
            overflow-y: hidden;
            margin-top: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            #photo{
                position: absolute; 
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width:75%;
                border-radius: 50%;
            }
    
            //WAVE
        
            #image-circle { 
                width: 85%;
                height: 85%;
                border-radius: 50%;
                border-top: 2px dashed $yellow;
                border-right: 2px dashed $yellow;
                border-left: 2px dashed $yellow;
                border-bottom: 2px dashed $yellow;
                animation: spin 10s infinite linear;
                overflow: visible;
            }
            #image-circle img {
                animation: spin 10s infinite reverse linear;
                width: 2rem;
                padding:50px;
            }
        
        
        
            @keyframes spin {
                100% {
                    transform: rotate(1turn);
                }
            }
        }
        
    }
    #third{
        color: $dark-green;
        padding: 2rem 2rem 5rem 2rem;
        position: relative;
        #bg-logo{
            position: absolute;
            transform: rotate(40deg);
            left: -10%;
            width: 50vw;
            display: none;
            opacity: 0.5;
        }
        #text{
            padding-top: 5rem;
            p{
                padding: 1rem 0;
            }
        }
        h1{
            padding-top: 2rem;
            font-family: $barlow;
            color: $normal-green;
            font-size: 2.2rem;
            letter-spacing: 1.5px;
        }
        //BACKGROUND PATTERN FROM MAGICPATTERN
        #cover{
            width: 120vw;
            //background-color: #2F4B14;
            position: absolute;
            right: 0%;
            bottom: 0rem; 
            z-index: 0.1;
            transform: scale(-1);
        }
        #pattern{
            //original
            height: 120vh;
            background-color: #FBFCF5;
            opacity: 0.1;
            background-image:  linear-gradient(#C5D791 4px, transparent 4px), linear-gradient(to right, #C5D791 4px, #FBFCF5 4px);
            background-size: 10vw 10vw;
            //original

        }
        #mission{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                height: 40vw;
            }
            li{
                padding-top: 3rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
    #fourth{
        background-color: #F4F0E6;
        display: none;
        position: relative;
        height: 120vh;
        top:0;
        left: 0;
        width: 100%;
        #white-top{
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100%;
        }
        #back, #front{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100vw;
            height: 50vw;
        }
        #sun{
            position: absolute;
            width: 10rem;
            right: 30%;
            top: 25%;
            animation: rotating 50s linear infinite;
        }
        @keyframes rotating {
            from{
                transform: rotate(0deg);
            }
            to{
                transform: rotate(360deg);
            }
        }

    }
    #fourth::before{
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top, $light-green, transparent);
        z-index: 1;
    }
    #fifth{
        background-color: $light-green;
        padding: 10rem 2rem;
        #top{
            padding: 5rem 0rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-top: solid 2px $normal-green;
            p{
                color: $dark-green;
                width: 20rem;
                padding-top: 2rem;
            }
            h3{
                color: $normal-green !important;
            }
        }
        #bottom{
            padding-top: 5rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            justify-content: center;
            li{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 2rem;
                #img{
                    overflow-y: hidden !important;
                    width: 70%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .text{
                    padding: 0.5rem 0 2rem 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .name{
                        color: $dark-green;
                    }
                    .job{
                        font-family: $barlow;
                        color: $dark-green;
                    }
                }
            }
        }
    }
}

//MAIN
#footer{
    background-color: #F1F4E8;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    #text{
        color: $normal-green;
        font-size: $normal-font;
        font-family: $roboto;
        line-height: 1rem;
        li{
            padding-top: 1rem;
        }
    }
    #contact{
        h2{
            font-family: $roboto;
            color: $normal-green !important;
            padding: 3rem 0 2rem 0;
            text-decoration: underline;
        }
        #media{
            a{
                color: $light-green;
                font-size: 3rem;
                padding-right: 1rem;
            }
            a:hover{
                color: $normal-green;
            }
        }
    }
}

@media only screen and (min-width: 300px){
    $normal-font: 1rem;
    p{
        font-size: $normal-font ;
    }
    h1{
        font-size: 3rem !important;
    }
}

@media only screen and (min-width: 600px) {
    $h1: 3rem;
    $h3: 2rem;
    $normal-font: 1.1rem;
    $normal-font-word-spacing: 2px;
    $normal-font-line-height:1.7;

    h1{
        font-size: $h1 !important;
    }
    h3{
        font-size: $h3 !important;
    }
    p{
        font-size: $normal-font;
        letter-spacing: $normal-font-word-spacing;
        line-height: $normal-font-line-height;
    }

    #first{
        padding: 0 15% !important;
        img{
            height: 25rem !important;
            margin-right: -15vw;
        }
        #text{
            background-color: #fbfcf5;
        }
    }
    #second{
        display: flex;
        flex-direction: column;
        h3{
            font-size: $h3;
        }
        #text, button, #outsider{
            width: 30rem !important;
        }
        #outsider{
            height: 30rem !important;
            #photo{
                width: 90% !important;
            }
            #image-circle{
                width: 95% !important;
                height: 95% !important;
            }
        }
    }
    #third{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-size: $h1;
        }
        #text{
            width: 30rem !important;
        }
        #mission{
            img{
                height: 15rem !important;
            }
        }
    }
    #fifth{
        padding: 10rem 4rem !important;
        #bottom{
            li{
                width: 30rem !important;
            }
        }
    }
}

@media only screen and (min-width: 850px) {
    $h1: 4rem;
    $h3: 2rem;
    $normal-font: 1.2rem;

    h3{
        font-size: $h3 !important;
    }

    p{
        font-size: $normal-font;
        word-spacing: $normal-font-word-spacing;
        line-height: $normal-font-line-height;
    }

    #header-mobile{
        #top{
            height: 6rem;
            img{
                height: 4.5rem;
            }
            i{
                font-size: 2.7rem;
            }
        }
        
    }

    #first{
        padding: 0 0 !important;
        align-items:flex-start;
        justify-content:left;
        h1{
            font-size: $h1 !important;
            padding-top: 0 !important;
        }
        img{
            height: 25rem !important;
            margin-right: -15vw;
            padding: 0 0 2rem 0 !important;
        }
        #text{
            width: 30rem;
            position: relative;
            top: 5rem;
            left: -10%;
            background-color: transparent;
        }
        .ocean1{
            bottom: 0rem !important;
        }
        .ocean2{
            bottom: -5rem !important;
        }
    }
    #second{
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        #text, button, #outsider{
            width: 25rem !important;
        }
        #outsider{
            height: 25rem !important;
            #photo{
                width: 90% !important;
            }
            #image-circle{
                width: 95% !important;
                height: 95% !important;
            }
        }
    }
    #third{
        #text{
            margin-right: -20rem;
        }
        #bg-logo{
            display: block !important;
        }
        h1{
            font-size: $h1!important;
            position: absolute;
            transform: rotate(-90deg);
            left: 0rem;
            top: 60rem;
        }
        #mission{
            padding: 7rem 0 4rem 0rem !important;
            li{
                width: 15rem;
                display: flex;
                flex-direction: column;
                text-align: center;
            }
            .left{
                padding: 0 0 0 25rem;
            }
            img{
                height: 10rem !important;
            }
        }
    }
    #fifth{
        #top{
            flex-direction: row !important;
            p{
                padding-top: 0 !important;
            }
        }
        #bottom{
            padding: auto 5% !important;
            flex-direction: column;
            justify-content: space-between !important;
            li{
                width: 22rem !important;
                #img{
                    height: 20rem;
                }
                img{
                    width: 100% !important;
                }
            }
        }
    }
}

@media only screen and (min-width: 1100px){
    $h1: 4rem;

    #header-mobile{
        display:none;
    }
    #header-laptop{
        display: block;
    }
    #first{
        padding-top: 5rem !important;
        img{
            height: 30rem !important;
            margin-top: -25rem;
        }
        #text{
            width: 25rem;
            left: -20%;
        }
        .ocean1{
            height: 5cm !important;
            position: relative !important;
        }
        .ocean2{
            opacity: 0;
        }

    }
    #second{
        padding: 5rem 10vw !important;
        justify-content: space-evenly;
        #outsider{
            width: 40vw !important;
            height: 40vw !important;
        }
    }
    #fourth{
        display: block !important;
    }
    #fifth{
        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
        padding: 10rem 10vw !important;
        #top{
            width: 60rem;
        }
        #bottom{
            width: 60rem !important; 
        }
    }
}

@media only screen and (max-width: 500px){
    #footer{
        flex-direction: column !important;
    }
}