$light-green: #B6C186;
$normal-green: #547932;
$dark-green: #2F4B14;
$purple: #31387A;
$yellow: #EBA920;
$light-purple: #AE8BDD;
$background-color:#fbfcf5;
$light-blue: #D2E0E0;

$roboto:'Roboto', sans-serif;;
$barlow:'Barlow Condensed', sans-serif;

$normal-font: 0.8rem;
$h1: 2.2rem;
$normal-font-word-spacing: 3px;
$normal-font-line-height:150%;

*{
    padding:0;
    margin:0;
    overflow-x: hidden;
    letter-spacing: 1px;
    font-family: $roboto;
}
body{
    background-color: $background-color;
    overflow-x: hidden;
}
p{
    font-size: $normal-font;
    font-family: $roboto;
    line-height: 1.5rem;
    color: $dark-green;
}
h1{
    font-family: $barlow;
    color: #ffff;
    font-size: 2.2rem;
    letter-spacing: 1.5px;
}
h2{
    font-family: $roboto;
    font-size: 1.8rem;
    //color: $blue;
}
h3{
    font-family: $roboto;
    font-size: 1.3rem;
    color: $normal-green;
}
h4{
    font-family: $roboto;
    color: $normal-green;
    padding: 2rem 0;
}
li{
    list-style-type: none;
}

#header-mobile{
    width: 100%;
    position: fixed;
    background-color: $background-color;
    z-index: 1;
    #top{
        width: 100%;
        height: 4rem;
        background-color: $background-color;
        display: flex;
        flex-direction: row;
        align-items: center;
        #after{
            display: none;
        }
        i{
            position: absolute;
            right: 2rem;
            font-size: 1.5rem;
            color: $dark-green;
        }
        i:hover{
            cursor: pointer;
        }
        img{
            height: 2.5rem;
        }
    }
    #container{
        display: none;
        #bottom{
            font-size: 1rem;
            display: flex;
            flex-direction: column;
            //background-color: green;
            padding: 2rem;
            a{
                text-decoration: none;
                color: $dark-green;
                padding: 0 0 2rem 0;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
}
#header-laptop{
    width: 100%;
    position: fixed;
    background-color: $background-color;
    z-index: 1;
    height: 6rem !important;
    display: flex;
    #top{
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    img{
        height: 4.5rem;
    }
    #nav{
        position: absolute;
        right: 2rem;
        a{
            text-decoration: none;
            color: $dark-green;
            padding-left: 1rem;
        }
    }
    display: none;
}
#first{
    width: 100%;
    position: relative;
    padding-top: 4rem;
    #head{
        width: 100%;
    }
    #quote{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 120%;
    }
    #animation{
        display: none;
    }
}
#nature{
    width: 60%;
    border-radius: 50%;
    margin-top: -10rem;
    transform: translate(60%,0);
    filter: grayscale(100%);
}
#navbar{
    font-size: $normal-font;
    font-family: $roboto;
    line-height: 1rem;
    padding: 1rem 0;
    display: flex;
    a{
        text-decoration: none;
        color: $normal-green;
        padding: 0 1rem;
        border-right: 1px solid $dark-green;
    }
    li{
        color: $dark-green;
        padding: 0 1rem;
    }
}
#second{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    #cover{
        width: 90%;
    }
    #graphic{
        display: flex;
        width: 90%;
        padding: 2rem;
        li{
            justify-content: center;
            align-items: center;
            width: 10rem;
            i{
                width: 5vw;
                position: relative;    
                top: 50%;       
                transform: translate(0, -50%);  
                color: $dark-green;   
            }
            img{
                width: 100%;
            }
            p{
                display: none;
            }
        }
    }
}
#info{
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    .top{
        h2{
            color: $normal-green !important; 
        }
        width: 100%;
        padding-bottom: 5%;
        p{
            padding: 1rem 0;
        }
        button{
            width: 10rem;
            height: 2.5rem;
            background-color: $dark-green;
            color: $background-color;
            border: none;
            border-radius: 25px;
            transition-duration: 0.4s;
            cursor: pointer;
        }
        button:hover{
            background-color: $light-green;
            color: $dark-green;
        }
    }
    #video{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 60vw;
        overflow-y: hidden;
        video{
            width: 90%;
            padding-top: 0.5rem;
        }
        #screen{
            top: 0;
            left: 0;
            width: 100%;
            position: absolute;
            pointer-events: none;
        }
        #laptop{
            pointer-events: none;
            display: none;
        }
    }
}
#third{
    padding: 2rem;
    display: none;
}
#fourth{
    padding: 4rem 0;
    width: 100vw;
    position: relative;
    #circle{
        display: none;
    }
    #bandage{
        display: none;
        pointer-events: none;
    }
    #frame{
        display: none;
        opacity: 0.5;
        pointer-events: none;
    }
    #yellow{
        display: none;
        opacity: 0.5;
        pointer-events: none;
    }
    #green{
        opacity: 0.5;
        display: none;
        pointer-events: none;
    }
    .line{
        display: none;
        height: 130vw;
        overflow-x: visible;
        width: 15px;
        position: absolute;
        left: 50%;
        top: 16rem;
        border-left: 1px solid $dark-green;
        .dot{
            height: 15px;
           width: 15px;
           background-color: $dark-green;
           border-radius: 50%;
           display: inline-block;
           transform: translate(-50%, 0);
        }
    }
    #cover{
        position: relative;
        width: 100%;
        #img{
            width: 100%;
            overflow: hidden;
            img{
                width: 100%;
                filter: grayscale(100%);
            }
        }
        #img:hover{
            img{
                animation-name: scale;
                animation-duration: 10s;
            }
            @keyframes scale {
                to{transform: scale(1.5);}
            }
        }
        #display{
            height: auto;
            padding: 2rem !important;
        }
        .first, .second, .third, .fourth{
            width: 100%;
            padding-bottom: 4rem;
            overflow-y: hidden;
        }
        .first{
                //width: 80%;
                #display{
                    width: 85%;
                }
        }
    }
}


//MAIN
#footer{
    background-color: #F1F4E8;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    #text{
        color: $normal-green;
        font-size: $normal-font;
        font-family: $roboto;
        line-height: 1rem;
        li{
            padding-top: 1rem;
        }
    }
    #contact{
        h2{
            font-family: $roboto;
            color: $normal-green !important;
            padding: 3rem 0 2rem 0;
            text-decoration: underline;
        }
        #media{
            a{
                color: $light-green;
                font-size: 3rem;
                padding-right: 1rem;
            }
            a:hover{
                color: $normal-green;
            }
        }
    }
}

@media only screen and (min-width: 300px){
    $normal-font: 1rem;
    p{
        font-size: $normal-font ;
    }
    h1{
        font-size: 3rem !important;
    }
}

@media only screen and (min-width: 600px) {
    $h1: 3rem;
    $h3: 2rem;
    $normal-font: 1.1rem;
    $normal-font-word-spacing: 2px;
    $normal-font-line-height:110%;

    h1{
        font-size: $h1 !important;
    }
    h2{
        font-size: $h3 !important;
    }
    p{
        font-size: $normal-font;
        letter-spacing: $normal-font-word-spacing;
        line-height: $normal-font-line-height;
    }
    #first{
        #quote{
            width: 25rem;
            font-size: 160% !important;
        }
    }
    #second{
        #cover{
            width: 35rem;
        }
    }
    #fourth{
        #circle{
            display: block;
            opacity: 0.5;
            position: absolute;
            width: 30%;
            top: 2%;
            right: 5%;
        }
        #img{
            width: 50% !important;
        }
        #display{
            width: 15rem !important;
        }
        .second, .fourth{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        .first, .third{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .first{
            position: relative;
            #dispplay{
                width: 100%;
            }
            #yellow{
                display: block;
                position: absolute;
                width: 20%;
                top: 40%;
                left: 25%;
            }
        }
        .second{
            position: relative;
            #frame{
                width: 50%;
                height: 80%;
                display: block;
                position: absolute;
                z-index: 1.1;
                right: 7%;
                top: -5%;
            }
            #display{
                padding: 2rem 0 !important;
                padding-left: 2rem !important;
            }
            #img{
                padding-right: 2rem;
            } 
        }
        .third{
            position: relative;
            #bandage{
                width: 20%;
                display: block;
                position: absolute;
                bottom:0;
                left: 0;
                z-index: 1.3;
                transform: rotate(40deg);
            }
            #img{
                padding-left: 2rem;
            }
        }
        .fourth{
            position: relative;
            #green{
                width: 20rem;
                display: block;
                position: absolute;
                bottom: 0%;
                right: 0;
            }
        }
        
    }
}

@media only screen and (min-width: 850px) {
    $h1: 4rem;
    $h3: 2rem;
    $normal-font: 1.2rem;

    h2{
        font-size: $h3 !important;
    }

    p{
        font-size: $normal-font;
        word-spacing: $normal-font-word-spacing;
        line-height: $normal-font-line-height;
    }

    #header-mobile{
        #top{
            height: 6rem;
            img{
                height: 4.5rem;
            }
            i{
                font-size: 2.7rem;
            }
        }
        
    }
    #header-laptop{
        text-decoration: none !important;
        width: 100%;
        position: fixed;
        background-color: $background-color;
        z-index: 1;
        height: 6rem !important;
        display: flex;
        #top{
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        img{
            height: 4.5rem;
        }
        #nav{
            position: absolute;
            right: 2rem;
            a{
                text-decoration: none;
                color: $dark-green;
                padding-left: 1rem;
            }
        }
        display: none;
    }
    #first{
        padding-top: 0!important;
        height: 100vh;
        #head{
            position: absolute;
            width: 100%;
            height: 100%;
        }
        #quote{
            padding-right: 20%;
            padding-top: 20%;
        }
        #animation{
            display: block;
            position: absolute;
            right: 5%;
            top: 50%;
            transform: translate(0, -50%);
            width: 40%;
        }
    }
    #second{
        padding-top: 10rem;
        #cover{
            width: 50rem;
        }
    }
    #info{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        flex-direction: row;
        width: 90vw;
        justify-content: space-around;
        .top{
            width: 40% !important;
            padding-top: 5%;
            padding-left: 5%;
        }
        #video{
            width: 40rem !important;
            height: 30rem;
            video{
                width: 70%;
            }
            #screen{
                display: none;
            }
            #laptop{
                display: block;
                top: 0;
                left: -5%;
                width: 110%;
                position: absolute;
            }
        }
    }
    #fourth{
        display: flex;
        justify-content: center;
        #circle{
            top:5%;
            width: 25%;
        }
        #cover{
            width: 80%;
        }
        #img{
            width: 25rem !important;
        }
    }
}

@media only screen and (min-width: 1100px){
    $h1: 4rem;

    #header-mobile{
        display:none;
    }
    #header-laptop{
        display: block;
    }
    #nature{
        width: 35rem !important;
    }
    #fourth{
        #circle{
            width: 20%;
        }
        .line{
            display: block;
        }
        #cover{
            padding: 10rem 0 ;
            width: 100% !important;
        }
        .first{
            position: relative;
            #img{
                position: relative;
                left: 50%;
                transform: translate(-100%);
                padding-right: 3cm;
                width: 45vw !important;
            }
            #display{
                position: absolute;
                left: 50% !important;
                top: 0;
                padding-left: 3cm !important;
                width: 30% !important;
            }
        }
        .second{
            position: relative;
            flex-direction: row!important;
            #flex2{
                position: relative;
                right: 50% !important;
                padding-right: 3.5cm !important;
                width: 30vw !important;
                height: 100% !important;
                #display{
                    width: 100% !important;
                }
            }
            #img{
                position: relative;
                left: 50% !important;
                top: 0;
                padding-left: 3cm !important;
                width: 35vw !important;
            }
            #frame{
                width: 35vw !important;
            }
        }
        .third{
            position: relative;
            #img{
                position: relative;
                left: 50%;
                transform: translate(-100%);
                padding-right: 3cm;
                width: 35vw !important;
            }
            #display{
                position: absolute;
                left: 50% !important;
                top: 0;
                padding-left: 3cm !important;
                width: 30% !important;
            }
        }
        .fourth{
            position: relative;
            flex-direction: row!important;
            #flex4{
                position: relative;
                left: 50% !important;
                transform: translate(-100%);
                padding-right: 3.5cm !important;
                width: 30vw !important;
                #display{
                    width: 100% !important;
                }
            }
            #img{
                position: absolute;
                left: 50% !important;
                top: 0;
                padding-left: 3cm !important;
                width: 45vw !important;
            }
            #green{
                bottom: -60%;
            }
        }
    }
}

@media only screen and (max-width: 500px){
    #footer{
        flex-direction: column !important;
    }
    
    #fourth{
        #display{
            width: 25rem;
        }
        .second, .fourth{
                #flex2, #flex4{
                    display: flex;
                    justify-content: flex-end;
                }
        }
    }
}