* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fbfcf5;
}

p {
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5rem;
}

h1 {
  font-family: "Barlow Condensed", sans-serif;
  color: #ffff;
  font-size: 2.2rem;
  letter-spacing: 1.5px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  color: #547932;
}

h4 {
  font-family: "Roboto", sans-serif;
  color: #547932;
  padding: 2rem 0;
}

#header-mobile {
  width: 100%;
  position: fixed;
  background-color: #fbfcf5;
  z-index: 1;
}

#header-mobile #top {
  width: 100%;
  height: 4rem;
  background-color: #fbfcf5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-mobile #top #after {
  display: none;
}

#header-mobile #top i {
  position: absolute;
  right: 2rem;
  font-size: 1.5rem;
  color: #2F4B14;
}

#header-mobile #top i:hover {
  cursor: pointer;
}

#header-mobile #top img {
  height: 2.5rem;
}

#header-mobile #container {
  display: none;
}

#header-mobile #container #bottom {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

#header-mobile #container #bottom a {
  text-decoration: none;
  color: #2F4B14;
  padding: 0 0 2rem 0;
}

#header-mobile #container #bottom a:hover {
  text-decoration: underline;
}

#header-mobile #container #bottom .active {
  color: #B6C186 !important;
}

#header-laptop {
  width: 100%;
  position: fixed;
  background-color: #fbfcf5;
  z-index: 1;
  height: 6rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

#header-laptop #top {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-laptop img {
  height: 4.5rem;
}

#header-laptop #nav {
  position: absolute;
  right: 2rem;
}

#header-laptop #nav a {
  text-decoration: none;
  color: #2F4B14;
  padding-left: 1rem;
}

#header-laptop #nav a:hover {
  text-decoration: underline;
}

#header-laptop #nav .active {
  color: #B6C186 !important;
}

#first {
  color: #2F4B14;
  padding-top: 4rem;
  overflow-y: hidden;
}

#first #text {
  padding: 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#first #text h1 {
  padding: 2rem 0;
  color: #2F4B14;
}

#first #text hr {
  width: 5rem;
}

#first #text p {
  padding: 2rem 0;
}

#first #text #button {
  background-color: #2F4B14;
  color: #ffff;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#first #text #button:hover {
  background-color: #B6C186;
  color: #2F4B14;
}

#picture {
  width: 100vw;
  position: relative;
}

#picture img {
  width: 100%;
}

#picture #tree {
  margin-top: -45%;
}

#picture #fan {
  width: 8%;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-animation: rotating 2s linear infinite;
          animation: rotating 2s linear infinite;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#second {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#second #bottom {
  padding: 7rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#second #bottom h2 {
  color: #547932;
}

#second #bottom #earth {
  display: none;
}

#second #bottom #text {
  padding-top: 3rem;
}

#second #bottom #text button {
  width: 100%;
  background-color: #EBA920;
  border: none;
  font-size: 100%;
  height: 1.8rem;
  color: #fbfcf5;
  border-radius: 15% 17% 13% 25px;
  text-decoration: none;
  cursor: pointer;
}

#second #bottom #text #one, #second #bottom #text #two, #second #bottom #text #three, #second #bottom #text #four {
  padding-bottom: 2rem;
}

#second #bottom #text #one h3, #second #bottom #text #two h3, #second #bottom #text #three h3, #second #bottom #text #four h3 {
  padding-bottom: 1rem;
}

#second #bottom #text #one p, #second #bottom #text #two p, #second #bottom #text #three p, #second #bottom #text #four p {
  padding-top: 1rem;
}

#second #bottom #evidence {
  color: #fbfcf5;
  text-decoration: none;
}

#second #containerOut {
  width: 100%;
  padding-bottom: 10rem;
}

#second #containerOut #myChart {
  padding: 0 2rem;
}

#second #containerOut #cause {
  padding: 2rem;
}

#second #containerOut #cause h2 {
  color: #547932;
}

#second #containerOut #cause p {
  padding: 1rem 0;
}

#second #containerOut #cause ul #display {
  display: none;
}

#second #containerOut #cause ul li {
  padding: 1rem 0;
  border-top: 1px solid #B6C186;
}

#second #containerOut #cause ul li h3:hover {
  cursor: pointer;
  color: #2F4B14;
}

#second #containerOut #cause ul li button {
  width: 100%;
  background-color: transparent;
  border: 1.5px solid #2F4B14;
  color: #2F4B14;
  height: 3rem;
  border-radius: 25px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  text-decoration: none;
}

#second #containerOut #cause ul li button:hover {
  cursor: pointer;
  background-color: #C5D791;
  color: #2F4B14;
  border: none;
  text-decoration: none;
}

#second #containerOut #cause ul li #button1 {
  text-decoration: none;
  color: #2F4B14;
}

#map {
  width: 100%;
  padding: 2rem;
}

#map #right img {
  width: 100%;
}

#map #left {
  display: none;
  width: 90%;
  list-style-type: none;
}

#map #left li {
  padding-top: 1.5rem;
}

#third {
  padding-bottom: 15rem;
}

#third #container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#third #container h2 {
  color: #547932;
  padding-left: 2rem;
}

#third #container #cover {
  padding: 2rem;
}

#third #container #cover li {
  padding-top: 2rem;
}

#third #container #cover li #title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

#third #container #cover li #title img {
  width: 3rem;
  padding-right: 0.5rem;
}

#third #container #cover li #display a {
  color: #000;
  font-style: italic;
}

#third #container #cover li #display a:hover {
  color: #2F4B14;
  font-style: normal;
}

#footer {
  background-color: #F1F4E8;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#footer #text {
  color: #547932;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  line-height: 1rem;
}

#footer #text li {
  padding-top: 1rem;
}

#footer #contact h2 {
  font-family: "Roboto", sans-serif;
  color: #547932 !important;
  padding: 3rem 0 2rem 0;
  text-decoration: underline;
}

#footer #contact #media a {
  color: #B6C186;
  font-size: 3rem;
  padding-right: 1rem;
}

#footer #contact #media a:hover {
  color: #547932;
}

@media only screen and (min-width: 300px) {
  p {
    font-size: 1rem;
  }
  h1 {
    font-size: 3rem !important;
  }
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 3rem !important;
  }
  h2 {
    font-size: 2rem !important;
  }
  p {
    font-size: 1.1rem;
    letter-spacing: 2px;
    line-height: 1.8;
  }
  #first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #first #text {
    width: 40rem;
  }
  #second #bottom {
    width: 30rem;
  }
  #third #cover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    padding: 0 7% !important;
  }
  #third #cover #title h3 {
    padding-top: 1rem;
  }
  #third #cover li {
    width: 40%;
    text-align: center;
  }
  #third #cover li #title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 850px) {
  h2 {
    font-size: 2rem !important;
  }
  p {
    font-size: 1.2rem;
    word-spacing: 3px;
    line-height: 150%;
  }
  #header-mobile #top {
    height: 6rem;
  }
  #header-mobile #top img {
    height: 4.5rem;
  }
  #header-mobile #top i {
    font-size: 2.7rem;
  }
  #second p {
    word-spacing: 3px !important;
    font-size: 1rem;
  }
  #second #bottom {
    width: 100%;
    position: relative;
  }
  #second #bottom #earth {
    display: block;
    position: absolute;
    width: 25%;
  }
  #second #bottom #text {
    position: relative;
    z-index: 1.1;
    padding: 2rem 4.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #second #bottom #one, #second #bottom #two, #second #bottom #three, #second #bottom #four {
    width: 20rem;
  }
  #second #bottom #two, #second #bottom #four {
    text-align: right;
  }
  #second #bottom #three, #second #bottom #four {
    padding-top: 2rem;
  }
  #map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #map #right {
    width: 50%;
  }
  #map #left {
    display: block;
    width: 40%;
  }
  #third #cover li {
    width: 20rem;
  }
}

@media only screen and (min-width: 1100px) {
  #header-mobile {
    display: none;
  }
  #header-laptop {
    display: block;
  }
  #first {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 7rem;
  }
  #second #containerOut, #second #bottom {
    width: 65rem;
  }
  #second #containerOut {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #second #containerOut #myChart {
    width: 50%;
  }
  #second #containerOut #cause {
    width: 50%;
  }
  #third #cover {
    width: 50rem;
  }
}

@media only screen and (max-width: 500px) {
  #footer {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}
/*# sourceMappingURL=style.css.map */