$light-green: #B6C186;
$normal-green: #547932;
$dark-green: #2F4B14;
$purple: #31387A;
$yellow: #EBA920;
$light-purple: #AE8BDD;
$background-color:#fbfcf5;
$light-blue: #D2E0E0;

$roboto:'Roboto', sans-serif;;
$barlow:'Barlow Condensed', sans-serif;


$normal-font: 0.8rem;
$h1: 2.2rem;
$normal-font-word-spacing: 3px;
$normal-font-line-height:150%;

*{
    padding:0;
    margin:0;
    overflow-x: hidden;
    letter-spacing: 1px;
    font-family: $roboto;
}
body{
    background-color: $background-color;
}
p{
    font-size: $normal-font;
    font-family: $roboto;
    line-height: 1.5rem;
}
h1{
    font-family: $barlow;
    color: #ffff;
    font-size: 2.2rem;
    letter-spacing: 1.5px;
}
h2{
    font-family: $roboto;
    font-size: 1.8rem;
    //color: $blue;
}
h3{
    font-family: $roboto;
    font-size: 1.3rem;
    color: $normal-green;
}
h4{
    font-family: $roboto;
    color: $normal-green;
    padding: 2rem 0;
}

#header-mobile{
    width: 100%;
    position: fixed;
    background-color: $background-color;
    z-index: 1;
    #top{
        width: 100%;
        height: 4rem;
        background-color: $background-color;
        display: flex;
        flex-direction: row;
        align-items: center;
        #after{
            display: none;
        }
        i{
            position: absolute;
            right: 2rem;
            font-size: 1.5rem;
            color: $dark-green;
        }
        i:hover{
            cursor: pointer;
        }
        img{
            height: 2.5rem;
        }
    }
    #container{
        display: none;
        #bottom{
            font-size: 1rem;
            display: flex;
            flex-direction: column;
            //background-color: green;
            padding: 2rem;
            a{
                text-decoration: none;
                color: $dark-green;
                padding: 0 0 2rem 0;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
}
#header-laptop{
    width: 100%;
    position: fixed;
    background-color: $background-color;
    z-index: 1;
    height: 6rem !important;
    display: flex;
    #top{
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    img{
        height: 4.5rem;
    }
    #nav{
        position: absolute;
        right: 2rem;
        a{
            text-decoration: none;
            color: $dark-green;
            padding-left: 1rem;
        }
    }
    display: none;
}

#first{
    color: $dark-green;
    padding-top: 4rem;
    overflow-y: hidden;
    #text{
        padding: 2rem 4rem;
        display: flex;
        flex-direction: column;    
        justify-content: center;
        align-items: center;
        text-align: center;
        h1{
            padding: 2rem 0;
            color: $dark-green;
        }
        hr{
            width: 5rem;
        }
        p{
            padding: 2rem 0;
        }
        #button{
            background-color: #2F4B14;
            color: #ffff;
            padding: 0.75rem 1.5rem;
            border-radius: 25px;
            transition-duration: 0.4s;
        }
        #button:hover{
            background-color: $light-green;
            color: $dark-green;
        }
    }
}
#picture{ 
    width: 100vw;
    position: relative;
    img{
        width: 100%;
    }
    #tree{
        margin-top: -45%;
    }
    #fan{
        width: 8%;
        position: absolute;
        top: 25%;
        left: 50%;
        animation: rotating 2s linear infinite;
    }
    @keyframes rotating {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }

}
#second{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    #bottom{
        padding: 7rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            color: $normal-green;
        }
        #earth{
            display: none;
        }
        #text{
            padding-top: 3rem;
            button{
                width: 100%;
                background-color: $yellow;
                border: none;
                font-size: 100%;
                height: 1.8rem;
                color: $background-color;
                border-radius: 15% 17% 13% 25px;
                text-decoration: none;
                cursor: pointer;
            }
            #one, #two, #three, #four{
                padding-bottom: 2rem;
                h3{
                    padding-bottom: 1rem;
                }
                p{
                    padding-top: 1rem;
                }
            }
        }
        #evidence{
            color: $background-color;
            text-decoration: none;
        }
    }
    #containerOut{
        width: 100%;
        padding-bottom: 10rem;
        #myChart{
            padding: 0 2rem;
        }
        #cause{
            h2{
                color: $normal-green;
            }
            padding: 2rem;
            p{
                padding: 1rem 0;
            }
            ul{
                #display{
                    display: none;
                }
                li{
                    h3:hover{
                        cursor: pointer;
                        color: $dark-green
                    }
                    padding: 1rem 0;
                    border-top: 1px solid $light-green;
                    button{
                        width: 100%;
                        background-color: transparent;
                        border: 1.5px solid $dark-green;
                        color: $dark-green;
                        height: 3rem;
                        border-radius: 25px;
                        transition-duration: 0.4s;
                        text-decoration: none;
                    }
                    button:hover{
                        cursor: pointer;
                        background-color: #C5D791;
                        color: $dark-green;
                        border: none;
                        text-decoration: none;
                    }
                    #button1{
                        text-decoration: none;
                        color: $dark-green;
                    }
                }
            }
        }
    }
}
#map{
    width: 100%;
    padding: 2rem;
    #right{
        img{
            width: 100%;
        }
    }
    #left{
        display: none;
        width: 90%;
        list-style-type: none;
        li{
            padding-top: 1.5rem;
        }
    }
}
#third{
    padding-bottom: 15rem;
    #container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h2{
            color: $normal-green;
            padding-left: 2rem;
        }
        #cover{
            padding: 2rem;
            li{
                padding-top: 2rem;
                #title{
                    display: flex;
                    align-items: center;
                    padding: 1rem 0;
                    img{
                        width: 3rem;
                        padding-right: 0.5rem;
                    }
                }
                #display{
                    a{
                        color: #000;
                        font-style: italic;
                    }
                    a:hover{
                        color: $dark-green;
                        font-style: normal;
                    }
                }
            }
        }
    }
}


//MAIN
//MAIN
#footer{
    background-color: #F1F4E8;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    #text{
        color: $normal-green;
        font-size: $normal-font;
        font-family: $roboto;
        line-height: 1rem;
        li{
            padding-top: 1rem;
        }
    }
    #contact{
        h2{
            font-family: $roboto;
            color: $normal-green !important;
            padding: 3rem 0 2rem 0;
            text-decoration: underline;
        }
        #media{
            a{
                color: $light-green;
                font-size: 3rem;
                padding-right: 1rem;
            }
            a:hover{
                color: $normal-green;
            }
        }
    }
}

@media only screen and (min-width: 300px){
    $normal-font: 1rem;
    p{
        font-size: $normal-font ;
    }
    h1{
        font-size: 3rem !important;
    }
}

@media only screen and (min-width: 600px) {
    $h1: 3rem;
    $h3: 2rem;
    $normal-font: 1.1rem;
    $normal-font-word-spacing: 2px;
    $normal-font-line-height:1.8;

    h1{
        font-size: $h1 !important;
    }
    h2{
        font-size: $h3 !important;
    }
    p{
        font-size: $normal-font;
        letter-spacing: $normal-font-word-spacing;
        line-height: $normal-font-line-height;
    }
    #first{
        display: flex;
        flex-direction: column;
        align-items: center;
        #text{
            width: 40rem;
        }
    }
    #second{

        #bottom{
            width: 30rem;
        }
    }
    #third{
        #cover{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between !important;
            padding: 0 7% !important;
            #title{
                h3{
                    padding-top: 1rem;
                }
            }
            li{
                width: 40%;
                text-align: center;
                #title{
                    justify-content: center;
                    flex-direction: column;
                }
            }
        }
    }
}

@media only screen and (min-width: 850px) {
    $h1: 4rem;
    $h3: 2rem;
    $normal-font: 1.2rem;

    h2{
        font-size: $h3 !important;
    }

    p{
        font-size: $normal-font;
        word-spacing: $normal-font-word-spacing;
        line-height: $normal-font-line-height;
    }

    #header-mobile{
        #top{
            height: 6rem;
            img{
                height: 4.5rem;
            }
            i{
                font-size: 2.7rem;
            }
        }
        
    }
    #second{
        p{
            word-spacing: 3px !important;
            font-size: 1rem;
        }
        #bottom{
            width: 100%;
            position: relative;
            #earth{
                display: block;
                position: absolute;
                width: 25%;
            }
            #text{
                position: relative;
                z-index: 1.1;
                padding: 2rem 4.4rem;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            #one, #two, #three, #four{
                width: 20rem;
            }
            #two, #four{
                text-align: right;
            }
            #three, #four{
                padding-top: 2rem;
            }
        }
    }
    #map{
        display: flex;
        flex-direction: row-reverse;
        #right{
            width: 50%;
        }
        #left{
            display: block;
            width: 40%;
        }
    }
    #third{
        #cover{
            li{
                width: 20rem;
            }
        }
    }
}

@media only screen and (min-width: 1100px){
    $h1: 5rem;

    #header-mobile{
        display:none;
    }
    #header-laptop{
        display: block;
    }
    #first{
        justify-content: center;
        padding-top: 7rem;
    }
    #second{
        #containerOut, #bottom{
            width: 65rem;
        }
        #containerOut{
            display: flex;
            flex-direction: row;
            #myChart{
                width: 50%;
            }
            #cause{
                width: 50%;
            }
        }
    }
    #third{
        #cover{
            width: 50rem;
        }
    }
}

@media only screen and (max-width: 500px){
    #footer{
        flex-direction: column !important;
    }
}