$light-green: #C5D791;
$normal-green: #547932;
$dark-green: #2F4B14;
$purple: #5234A5;
$blue: #353A74;
$yellow: #FDD41D;
$background-color:#fbfcf5;

$roboto:'Roboto', sans-serif;;
$barlow:'Barlow Condensed', sans-serif;


$normal-font: 0.8rem;
$h1: 2.2rem;
$normal-font-word-spacing: 3px;
$normal-font-line-height:150%;

*{
    padding:0;
    margin:0;
    overflow-x: hidden;
    letter-spacing: 1px;
    font-family: $roboto;
}
body{
    background-color: $background-color;
}
p{
    font-size: $normal-font;
    font-family: $roboto;
    line-height: 1rem;
}
h1{
    font-family: $barlow;
    color: #ffff;
    font-size: 2.2rem;
    letter-spacing: 1.5px;
}
h2{
    font-family: $roboto;
    font-size: 1.8rem;
    color: $blue;
}
h3{
    font-family: $roboto;
    font-size: 1.3rem;
    color: $normal-green;
}
h4{
    font-family: $roboto;
    color: $normal-green;
    padding: 2rem 0;
}


#header-mobile{
    width: 100%;
    position: fixed;
    background-color: $background-color;
    z-index: 1;
    #top{
        width: 100%;
        height: 4rem;
        background-color: $background-color;
        display: flex;
        flex-direction: row;
        align-items: center;
        #after{
            display: none;
        }
        i{
            position: absolute;
            right: 2rem;
            font-size: 1.5rem;
            color: $dark-green;
        }
        i:hover{
            cursor: pointer;
        }
        img{
            height: 2.5rem;
        }
    }
    #container{
        display: none;
        #bottom{
            font-size: 1rem;
            display: flex;
            flex-direction: column;
            //background-color: green;
            padding: 2rem;
            a{
                text-decoration: none;
                color: $dark-green;
                padding: 0 0 2rem 0;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
}
#header-laptop{
    width: 100%;
    position: fixed;
    background-color: $background-color;
    z-index: 1;
    height: 6rem !important;
    display: flex;
    #top{
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    img{
        height: 4.5rem;
    }
    #nav{
        position: absolute;
        right: 2rem;
        a{
            text-decoration: none;
            color: $dark-green;
            padding-left: 1rem;
        }
    }
    display: none;
}
#first{
    background-color: $dark-green;
    color: #ffff;
    padding-top: 4rem;
    #cover{
        width: 120vw;
        //background-color: #2F4B14;
        position: absolute;
        right: 0%;
        top: 0rem;
        z-index: 0.1;
        transform: scale(-1);
    }
    #pattern{
        height: 25rem;
        background-color: transparent;
        opacity: 0.1;
        background-size: 18px 18px;
        background-image: repeating-linear-gradient(45deg, #C5D791 0, #C5D791 1.5px, transparent 0, transparent 50%);
    }
    #text{
        padding: 2rem;
        display: flex;
        flex-direction: column;    
        justify-content: center;
        align-items: center;
        text-align: center;
        h1{
            padding: 2rem 0;
        }
        hr{
            border-bottom: 4px solid $yellow;
            width: 5rem;
        }
        p{
            padding: 2rem 0;
        }
    }
}
#nav{
    font-size: $normal-font;
    font-family: $roboto;
    line-height: 1rem;
    padding: 1rem 0;
    display: flex;
    a{
        text-decoration: none;
        color: $normal-green;
        padding: 0 1rem;
        border-right: 1px solid $dark-green;
    }
    li{
        color: $dark-green;
        padding: 0 1rem;
    }
}
#second{
    padding: 2rem;
    p{
        padding: 1rem 0;
    }
    ul{
        #display{
            display: none;
        }
        li{
            padding: 1rem 0;
            border-top: 1px solid $light-green;
            button{
                width: 100%;
                background-color: transparent;
                border: 1.5px solid $dark-green;
                color: $dark-green;
                height: 3rem;
                border-radius: 25px;
            }
        }
    }
}
#third{
    padding: 2rem;
    position: relative;
    height: auto;
    #square{
        position: absolute;
        bottom: 0;
        left: 0;
        background-color:$background-color;
        height: 10rem;
        width: 100%;
    }
}
#fourth{
    padding: 0 2rem;
    position: relative;
    top: -5rem;
    z-index: 0.1;
}
#fifth{
    padding: 2rem;
    iframe{
        padding-top: 2rem;
    }
}

//MAIN
#footer{
    background-color: #F1F4E8;
    padding: 2rem;
    #text{
        color: $normal-green;
        font-size: $normal-font;
        font-family: $roboto;
        line-height: 1rem;
        li{
            padding-top: 1rem;
        }
    }
    #contact{
        font-family: $roboto;
        color: $normal-green;
        padding: 2rem 0;
        text-decoration: underline;
    }
}

@media only screen and (min-width: 300px){
    $normal-font: 1rem;
    p{
        font-size: $normal-font ;
    }
    h1{
        font-size: 3rem !important;
    }
}

@media only screen and (min-width: 600px) {
    $h1: 3rem;
    $h3: 2rem;
    $normal-font: 1.1rem;
    $normal-font-word-spacing: 2px;
    $normal-font-line-height:110%;

    h1{
        font-size: $h1 !important;
    }
    h2{
        font-size: $h3 !important;
    }
    p{
        font-size: $normal-font;
        letter-spacing: $normal-font-word-spacing;
        line-height: $normal-font-line-height;
    }
    #first{
        display: flex;
        flex-direction: column;
        align-items: center;
        #text{
            width: 40rem;
        }
    }
    #second{
        display: flex;
        flex-direction: column;
        align-items: center;
        #container{
            width: 40rem;
        }
    }
    #third{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2, #cover{
            width: 40rem;
        }
    }
}

@media only screen and (min-width: 850px) {
    $h1: 4rem;
    $h3: 2rem;
    $normal-font: 1.2rem;

    h2{
        font-size: $h3 !important;
    }

    p{
        font-size: $normal-font;
        word-spacing: $normal-font-word-spacing;
        line-height: $normal-font-line-height;
    }

    #header-mobile{
        #top{
            height: 6rem;
            img{
                height: 4.5rem;
            }
            i{
                font-size: 2.7rem;
            }
        }
        
    }
    #first{
        padding: 5rem 0;
        background-image: url(../picture/about-background.png);
        #cover{
            display: none;
        }
    }

    
}

@media only screen and (min-width: 1100px){
    $h1: 4rem;

    #header-mobile{
        display:none;
    }
    #header-laptop{
        display: block;
    }
    #first{
        justify-content: center;
        height: 100vh;
        padding: 0;
    }
    #second{
        #container{
            width: 90vw !important;
        }
    }
}
